$text-color: #0070f3;

.infoCard {
  &__description {
    font-size: 14px;
  }

  &__link {
    color: $text-color;
    border: none;
    background: transparent;
    padding: 0;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
  }
  &__social {
    display: inline-block;
    margin: 4px 0 8px;
    color: $text-color;
    font-size: 14px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__note {
    font-size: 12px;
    color: gray;
    }
}
